body {
    text-align: center;
    background-color: rgb(46, 190, 190);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

#container {
    background-color: aquamarine;
    padding: 100px;
}

.gridRow {
    /* border: 1px solid black; */   
}

.cub {
    border: 1px solid white;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
}




/* buttons */
#btnChangeSquares {
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 30px;
}
#btnChangeSquares:hover {
    background-color: #2c974b;
}
#btnChangeSquares:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
  
#btnChangeSquares:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* .cub:hover {
    background-color: black;
} */